* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
background: rgba(255, 255, 255, .3);
} 

::-webkit-scrollbar-thumb {
background: rgba(130, 56, 137, .8);
}

::-webkit-scrollbar-thumb:hover {
background: rgba(130, 56, 137, 1);
}

::selection {
    background-color: mediumorchid;
}

.wrapper{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
}
.fixed-header {
    width: 100%;
    position: fixed;        
    background:#888B78;
    padding: 8px 0;
    color: black;
}
.fixed-footer{
    width: 100%;
    position: fixed;        
    background:#953C0D;
    padding: 8px 0;
    color: black;
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
}    
/* Some more styles to beutify this example */
nav a{
    color: black;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}
.container p{
    line-height: 200px; /* Create scrollbar to test positioning */
}
#image{
    position: absolute;
    left: 15px;
    top: 12px;

}
#image-div{
    position: absolute;
    background: #96368B;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    left: 30px;
}

a:hover {
    color:#96368B;
  }

a.active {
    background-color: #96368B;
    color: black;
  }

#sosial-media-logo1{
    position: absolute;
    bottom: 2px;
    right: 20px;
}
#sosial-media-logo2{
    position: absolute;
    bottom: 2px;
    right: 70px;
}



/*
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
}

li a{
    display: block; 
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: auto;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: #111;
    text-decoration: none;
    color: white;
}

.active:hover{
    text-decoration: none;
    color: white;
}

.active{
    background-color: purple;
}

img{
    border-radius: 20px;
}
*/

.iframe-container{
    position: relative; 
    top: 150px;
    width: 100%;
    height: 600px;
    box-shadow: 5px 5px 15px gray;
}

.videoSlide{
    width: 1000px;
}

.videoSlide iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 75%;
    margin-left: 12%;
    margin-top: 5%;
}

#i-left{
    position: relative;
    top: 250px;
    margin: 20px;
    cursor: pointer;
    padding: 0;
    left: 15px;
}

#i-right{
    position: relative;
    top: 250px;
    margin: 20px;
    cursor: pointer;
    padding: 0;
    right: -50px;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active, .dot:hover{
    background-color: #717171;
}

.videoSlide{
    display:none;
}

.videoTxt{
    text-align: center;
    margin-top: 400px;
}

.videoSlide h3{
    text-align: center;
    margin: 5px;
}

/*
.box-info{
    display: flex;
    margin: 0;
    padding: 0;
}

.box-info .box{
    background-color: purple;
    margin: 25px;
    text-align: center;
    color: #99A3A4;
    padding: 10px;
}
*/