* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{        
    padding-top: 60px;
    padding-bottom: 40px;
}
.container{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
}
.fixed-header {
    width: 100%;
    position: fixed;        
    background:#888B78;
    padding: 8px 0;
    color: black;
}
.fixed-footer{
    width: 100%;
    position: fixed;        
    background:#953C0D;
    padding: 8px 0;
    color: black;
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
}    
/* Some more styles to beutify this example */
nav a{
    color: black;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}
.container p{
    line-height: 200px; /* Create scrollbar to test positioning */
}
#image{
    position: absolute;
    left: 15px;
    top: 12px;

}
#image-div{
    position: absolute;
    background: #96368B;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    left: 30px;
}

a:hover {
    color:#96368B;
  }

a.active {
    background-color: #96368B;
    color: black;
  }

#sosial-media-logo1{
    position: absolute;
    bottom: 2px;
    right: 20px;
}
#sosial-media-logo2{
    position: absolute;
    bottom: 2px;
    right: 70px;
}