/* Predefined rules */

:root {
    --clr-primary: hsl(307, 45%, 41%);
    --clr-secondary: hsl(240, 67%, 94%);

    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 0%);

    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, .3);
} 

::-webkit-scrollbar-thumb {
    background: rgba(130, 56, 137, .8);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(130, 56, 137, 1);
}

::selection {
    background-color: mediumorchid;
}

html {
    height: 100%;
}

body {
    background: var(--clr-white);
    font-family: var(--ff-accent);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


/* Navbar */

header {
    width: 100%;
    height: 4.0625rem;
    background: var(--clr-secondary);
    top: 0;
    border-top: 3px solid var(--clr-primary);
    position: fixed;
    z-index: 11;
}

#logo {
    width: 4.375rem;
    height: 4.375rem;
    background-image: url(../images/logo-rund.svg);
    position: fixed;
    margin: 2rem;
}

#navbar ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
}

#navbar a {
    text-decoration: none;
    color: var(--clr-black);
}

#navbar li {
    list-style: none;
    font-size: 1rem;
    margin-left: 3.125rem;
    margin-top: 1.875rem;
    padding-top: 0.4375rem;
    padding-left: 0.4375rem;
    padding-right: 0.4375rem;
    border-radius: 0.25rem 0.25rem 0rem 0rem;
}

#navbar a:hover {
    color: var(--clr-primary);
}

#navbar li:hover {
    background: var(--clr-white);
    padding-bottom: 0.5rem;
}

li.active {
    background: var(--clr-white);
    color: var(--clr-primary);
    padding-bottom: 0.5rem;
}

.toggle-nav {
    position: absolute;
    top: 1.7rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-nav .line {
    height: 3px;
    width: 100%;
    background-color: var(--clr-primary);
    border-radius: 10px;
}


/* Body */

main {
    margin-top: 4.0625rem;
}

#text-size {
    width: 3.125rem;
    height: 3.125rem;
    background-color: var(--clr-primary);
    position: fixed;
    z-index: 10;
    right: 0.3125rem;
    top: 44%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#text-size2 {
    width: 3.125rem;
    height: 3.125rem;
    background-color: var(--clr-primary);
    position: fixed;
    z-index: 10;
    right: 0.3125rem;
    top: 51%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#text-size2 i {
    margin-left: 0.5625rem;
    margin-top: 0.5625rem;
    color: var(--clr-white);
    font-size: 1.875rem;
}

#text-size i {
    padding-left: 0.5625rem;
    padding-top: 0.5625rem;
    color: var(--clr-white);
    font-size: 1.875rem;
}

#text-size2:hover {
    cursor: pointer;
}

#text-size:hover {
    cursor: pointer;
}

#container {
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin-top: 1.25rem;
    padding-bottom: 6.25rem;
}

#scroll-down {
    width: 3.125rem;
    height: 3.125rem;
    margin: 0 auto;
    position: fixed;
    right: .3125rem;
    top: 58%;
    background-color: var(--clr-primary);
    border-radius: 25px;
    text-align: center;
    animation-name: visible-hidden;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes visible-hidden{
    0% {opacity: 1;}
    50%{opacity: 0.3;}
    100%{opacity: 1;}
}

#scroll-down i{
    padding-top: .3125rem;
    font-size: 2.5rem;
    color: var(--clr-white);
}

#scroll-down :hover{
    cursor: pointer;
}

.text{
    margin-right: .9375rem;
    white-space: pre-wrap;
}

#test{
    width: 100%;
    height: auto;
    margin-top: 6.25rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}

#test2{
    width: 100%;
    height: auto;
    margin-top: 6.25rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 6.25rem;
}

img.front-1{
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-self: start;
    transition: transform .2s;
    border-radius: 5px;
    z-index: 10;
}

img.front-2{
    width: 90%;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-self: end;
    transition: transform .2s;
    border-radius: 5px;
}

.text-front{
    transition: opacity .5s;
}


/* Footer */

footer{
    width: 100%;
    height: 40px;
    background-color: var(--clr-primary);
    bottom: 0;
    margin-top: auto;
}

#footer{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer ul{
    width: 1000px;
}

#footer li{
    color: var(--clr-white);
    float: left;
    list-style-type: none;
    width: 33%;
    text-align: center;
    font-size: 1rem;
}

#footer i{
    color: var(--clr-white);
    font-size: 1.5625rem;
    margin-left: 10px;
}


/* Media Queries */

@media (max-width: 850px) {
    .toggle-nav {
        display: flex;
    }

    .links {
        display: none;
        width: 100%;
        z-index: 100;
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .links ul {
        width: 100%;
        flex-direction: column;
        background-color: var(--clr-secondary);
    }

    #navbar li {
        margin-left: 0;
        margin-top: 1rem;
        width: 100%;
        padding-bottom: .5rem;
        text-align: center;
    }

    #navbar li:nth-child(1) {
        margin-top: 1.875rem;;
    }

    .links.active {
        display: flex;
    }

    #footer li{
        font-size: 12px;
    }
}