/* Predefined rules */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
background: rgba(255, 255, 255, .3);
} 

::-webkit-scrollbar-thumb {
background: rgba(130, 56, 137, .8);
}

::-webkit-scrollbar-thumb:hover {
background: rgba(130, 56, 137, 1);
}

::selection {
    background-color: mediumorchid;
}

body {
    background: white;
    font-family: "Roboto", sans-serif;
}


/* Navbar */

header {
    width: 100%;
    height: 65px;
    background: #e6e6fa;
    top: 0;
    border-top: 3px solid #96398b;
    z-index: 10;
    position: fixed;
}

#navbar {
    width: 60%;
    margin: 0 auto;
    height: 65px;
}

#logo {
    width: 70px;
    height: 70px;
    background-image: url(../images/logo-rund.svg);
    position: fixed;
    top: 40px;
}

#navbar ul {
    width: 1000px;
    margin-left: 100px;
    font-size: 14px;
}

#navbar li {
    float: left;
    margin-left: 50px;
    list-style-type: none;
    margin-top: 30px;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    color: black;
    border-radius: 4px 4px 0px 0px;
}

#navbar li:hover {
    background: white;
    color: #96398b;
    padding-bottom: 8px;
}

li.active {
    background: white;
    color: #96398b;
    padding-bottom: 8px;
}


/* Body */

#text-size{
    width: 50px;
    height: 50px;
    background-color: #96398b;
    position: fixed;
    z-index: 10;
    right: 5px;
    top: 48%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#text-size2{
    width: 50px;
    height: 50px;
    background-color: #96398b;
    position: fixed;
    z-index: 10;
    right: 5px;
    top: 55%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#text-size2 h3{
    margin-left: 20px;
    margin-top: 15px;
    color: white;
}

#text-size h3{
    padding-left: 23px;
    padding-top: 15px;
    color: white;
}


#text-size2:hover{
    cursor: pointer;
}

#text-size:hover{
    cursor: pointer;
}

#container{
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 100px;
}

#scroll-down{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    bottom: 40px;
    position: fixed;
    left: 48%;
    animation-name: visible-hidden;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes visible-hidden{
    0% {opacity: 1;}
    50%{opacity: 0.3;}
    100%{opacity: 1;}
}

#scroll-down i{
    width: 100px;
    height: 100px;
    font-size: 100px;
    color: gray;
}

#scroll-down :hover{
    cursor: pointer;
}

.text{
    margin-right: 15px;
    white-space: pre-wrap;
}

#test{
    width: 100%;
    height: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 100px;
    padding-bottom: 100px;
}

#test2{
    width: 100%;
    height: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 100px;
}

img.front-1{
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-self: start;
    transition: transform .2s;
    border-radius: 5px;
    z-index: 10;
}

img.front-2{
    width: 90%;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-self: end;
    transition: transform .2s;
    border-radius: 5px;
}

.text-front{
    transition: opacity .5s;
}


/* Footer */

footer{
    width: 100%;
    height: 40px;
    background-color: #96398b;
    bottom: 0;
}

#footer{
    width: 50%;
    margin: 0 auto;
    height: 40px;
}

#footer ul{
    width: 1000px;
}

#footer li{
    color: white;
    float: left;
    list-style-type: none;
    width: 33%;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

#footer i{
    color: white;
    font-size: 25px;
    margin-left: 10px;
}